.destinationImg {
  width: 180px;
  height: 215px;
  object-fit: cover;
  border-radius: 8px;
  margin-right: 24px;
  flex: 0 1 auto;
}

* {
  /* border: red solid 1px; */
}

body {
  display: flex;
  /* justify-content: center; */
  margin: 0;
  padding: 0;
}

.App {
  min-height: 100vh;
  /* border: red solid 1px; */
  display: flex;
  flex-direction: column;
}

.main-content {
  align-self: center;
}

.card {
  display: flex;
  margin: 50px;
  height: 215px;
  max-width: 670px;
}

.location-and-link {
  display: flex;
  /* border: red solid 1px; */
  align-items: center;
  gap: 16px;
  height: 32px;
}

.location-and-link > a {
  color: lightgrey;
}

.location {
  letter-spacing: 4px;
}

.info > h1 {
  margin: 0;
  padding: 0;
}

.info {
  margin: 0;
}

.date {
  font-weight: 600;
}

.header {
  background-color: lightcoral;
  color: white;
  display: flex;
  justify-content: center;
}

.header > img {
  width: 80px;
}

#root {
  /* border: red solid 1px; */
  width: 100%;
}